.gallery
	overflow hidden
	&__list
		position relative
		padding-right ratio-percentage(522,2048)
		font-size 0
		clearfix()
	&__item
		display inline-block
		vertical-align top
		width ratio-percentage(476,1512)
		overflow hidden
		img
			display block
			max-width 100%
			height auto
	&__item_1
		width ratio-percentage(476,1512)
	&__item_2
		width ratio-percentage(1035,1512)
	&__item_3
		position absolute
		top 0
		right 0
		width ratio-percentage(538,2048)
	&__item_4
		width ratio-percentage(522,1512)
	&__item_5
		width ratio-percentage(542,1512)
	&__item_6
		width ratio-percentage(436,1512)

	&__link
		display block
