mixin gallery(data)
	+b('section').gallery
		+e.list
			+e.item._1
				+e('a').link(href='assets/images/content/gallery-1.jpg')
					+e('img')(src='assets/images/content/gallery-1.jpg' alt='product')
			+e.item._2
				+e('a').link(href='assets/images/content/gallery-2.jpg')
					+e('img')(src='assets/images/content/gallery-2.jpg' alt='product')
			+e.item._3
				+e('a').link(href='assets/images/content/gallery-3.jpg')
					+e('img')(src='assets/images/content/gallery-3.jpg' alt='product')
			+e.item._4
				+e('a').link(href='assets/images/content/gallery-4.jpg')
					+e('img')(src='assets/images/content/gallery-4.jpg' alt='product')
			+e.item._5
				+e('a').link(href='assets/images/content/gallery-5.jpg')
					+e('img')(src='assets/images/content/gallery-5.jpg' alt='product')
			+e.item._6
				+e('a').link(href='assets/images/content/gallery-6.jpg')
					+e('img')(src='assets/images/content/gallery-6.jpg' alt='product')
