.content
	&__in
		padding-top 83px
		padding-bottom 58px
		@extend .in
	&__title
		margin-bottom 5px
		font-family $roboto-med
		font-weight normal
		font-size 53px
		color $title-color
		line-height 60px
		text-transform uppercase
		text-align center
		letter-spacing tracking(-27)
	&__text
		margin-bottom 30px
		color $text-color
		text-align center
		line-height 40px
		letter-spacing tracking(-27)

