mixin content(data)
	+b('section').content
		+e.in
			+e('h1').title Логотип, визитки и короткая презентация –
			+e('p').text то, без чего сложно представить себе начинающий бизнес. В 2011 году мы закрутили свое дизайнерское дело и хорошо понимаем потребности стартапов. Мы развивались на собственные средства, без привлечения инвестиций и дорогих кредитов. Единственное, что мы получили бесплатно - это собственный логотип и презентацию. Мы сделали эту работу сами и этого хватило, чтобы построить компанию, в которой сейчас трудится дюжина профессионалов, современное оборудование, печатные машины и накоплен пул качественных клиентов. Мы понимаем: если уж и привлекать средства, то на развитие производства и профессиональные кадры, но уж никак не на  дорогой брендинг. Сейчас он вам ни к чему! Чуть-чуть нужно подождать!
