mixin clients(data)
	+b('section').clients
		+e.in
			+e.text У нас большой опыт работы с именитыми и очень требовательными клиентами, что может гарантировать вам качественный сервис. Низкие цены на работы мы предлагаем, потому что сейчас мы можем себе это позволить. Мы искренне надеемся, что ваши рекламные бюджеты вырастут и уже очень скоро вы сможете воспользоваться полным спектром наших услуг.

			+b.slider
				+e('ul').list.owl-carousel
					- var val = [1,2,3,4,5,6]
						each v in val
							+e('li')(class="item _#{v}")
								+e.icon

				+b.slider-nav
					+e('a').item._back(href='#nav') Назад
					+e('a').item._next(href='#nav') Вперед








